/* style.css */

body{
	margin: 0;
}

#wrapper{
	width: auto;
	background-image: url("21B.jpg")
}

#header{
	width: 100%;
	background-color: silver;

}

#header-wrapper{
	width: 1350px;
	margin: 0 auto;
	min-height: 100px;
	background-color: silver;
	display: block;

}
#header-top{
	background-color: silver;
	background-image: url("21B.jpg")
}
#header-bottom{
	background-color: silver;
	background-image: url("21B.jpg")
}

#sidebar{
	width: 15%;
	background-color:white;
	background-image: url("21B.jpg");
	min-height: 1950px;
	float: left;

	
}

#content-wrapper{
	width: 1280px;
	background-color: white;
	margin: 0 auto;
background-image: url("21B.jpg")
}

.content-area{
	min-height: 500px;
	width: 85%;
	float: left;
}

.f-right{
	float: left;
}
.header-logo{
	display: block;
	width: 140px;
	height: 55px;
	float: left;
}

.prod-cat-div{
	min-height: 200px;
	padding: 5px 10px;
	background-image: url("21B.jpg")
}

.prod-cat-header{
	background-color: #f2f2f2;
	
}

.prod-item-div{
	width: 20%;
	display: inline-block;
	min-height: 100px;
	border: 1px solid silver;
	padding: 5px 16px;
    margin: 0px 9px;
}

.prod-img-thumb{
	display: block;
	width: 99%;
}

.clearfix{
    margin: 0;
	clear: both;

}


#footer{
	background-color:violet
	
}
#wrapper1{
	width: auto;
	background-image: url("21B.jpg")
}

#header1{
	width: 100%;
	background-color: silver;
	background-image: url("21B.jpg")
}

#header-wrapper1{
	width: 1280px;
	margin: 0 auto;
	min-height: 100px;
	background-color: silver;
	display: block;
	background-image: url("21B.jpg")
}
#header-top1{
	background-color: silver;
	background-image: url("21B.jpg")
}
#header-bottom1{
	background-color: silver;
	background-image: url("21B.jpg")
}

.button{
	background-color:silver;
	
}
#wrapper2{
	width: auto;
	background-image: url("21B.jpg")
}
#header2{
	width: 100%;
	background-color: silver;
	background-image: url("21B.jpg")
}
#header-wrapper2{
	width: 1280px;
	margin: 0 auto;
	min-height: 100px;
	background-color: silver;
	display: block;
	background-image: url("21B.jpg")
}
#header-top2{
	background-color: silver;
	background-image: url("21B.jpg")
}
